# This file provides an overview of code owners in this repository.

# Each line is a file pattern followed by one or more owners.
# The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

# These are the default owners for the whole content of this repository. The default owners are automatically added as reviewers when you open a pull request, unless different owners are specified in the file.
* @dsm23

.github/actions/ @dsm23 @renovate[bot]
.github/workflows/ @dsm23 @renovate[bot]
.nvmrc @dsm23 @renovate[bot]
Dockerfile @dsm23 @renovate[bot]
package.json @dsm23 @renovate[bot]
pnpm-lock.yaml @dsm23 @renovate[bot]
