name: Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch: null

env:
  LEFTHOOK: 0

permissions:
  contents: read

jobs:
  playwright-test-shard:
    timeout-minutes: 60
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        shardIndex:
          - [1, 1]
          - [2, 2]
          - [3, 3]
          - [4, 4]
          - [5, 5]
          - [6, 6]
          - [7, 7]
          - [8, 8]
          - [9, 9]
          - [1, 10]
          - [2, 11]
          - [3, 12]
          - [4, 13]
          - [5, 14]
          - [6, 15]
          - [7, 16]
          - [8, 17]
          - [9, 18]
        shardTotal: [9]
    name: >
      test-shard (${{ matrix.shardIndex[1] <= matrix.shardTotal && 'dev' || 'prod' }}) -
      (${{ matrix.shardIndex[0] }}, ${{ matrix.shardTotal }})

    container:
      image: mcr.microsoft.com/playwright:v1.57.0@sha256:3bed4b1a12f2338642f3d8cba28e291deef3c66bd4a964bbeb3e57bbff511dbd
      options: --user 1001
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Node setup
        uses: ./.github/actions/setup

      - name: Run Playwright tests (dev)
        if: ${{ matrix.shardIndex[1] <= matrix.shardTotal }}
        run: >
          pnpm exec playwright test
          --shard=${{ matrix.shardIndex[0] }}/${{ matrix.shardTotal }}
      - name: Run Playwright tests (prod)
        if: ${{ matrix.shardIndex[1] > matrix.shardTotal }}
        run: >
          pnpm exec playwright test
          --config playwright.prod.config.ts
          --shard=${{ matrix.shardIndex[0] }}/${{ matrix.shardTotal }}

      - name: Upload playwright report to GitHub Actions Artifacts
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: blob-report-${{ matrix.shardIndex[1] }}
          path: blob-report
          retention-days: 1

  playwright-tests:
    runs-on: ubuntu-24.04
    needs:
      - playwright-test-shard
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        run: exit 1

      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Node setup
        uses: ./.github/actions/setup

      - name: Download blob reports from GitHub Actions Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: all-blob-reports
          pattern: blob-report-*
          merge-multiple: true

      - name: Merge into HTML Report
        run: pnpm exec playwright merge-reports --reporter html ./all-blob-reports

      - name: Upload HTML report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: html-report--attempt-${{ github.run_attempt }}
          path: playwright-report
          retention-days: 7
